.box {
  height: 50px;
  width: 100%;
  margin: 0 auto 20px;
  background-color: #33485F;
  text-align: center;
  line-height: 50px;
  border-radius: 10px;
  cursor: pointer;
}

.box:hover {
  background-color: #17212C;
}