.button,
.button:visited {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #273344;
  text-align: center;
  line-height: 50px;
  border-radius: 0 0 20px 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 15px;
}

.button:hover {
  background-color: #3D4C61;
  transition: background-color .2s ease;
}