.container {
  width: 50%;
  padding: 14px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #263345;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.container:hover {
  background-color: #3D4C61;
  transition: all .1s ease;
  cursor: pointer;
}

.container.save-button {
  background-color: #37A65C;
}