@value board-bg, jeopardy-yellow from "./Colors.css";

.card {
  align-items: center;
  border-right: 5px solid board-bg;
  color: jeopardy-yellow;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.card.is-in-last-category {
  border-right: none;
}

.card:not(:last-of-type) {
  border-bottom: 5px solid board-bg;
}

.card:hover {
  background-color: #9B82DA;
  cursor: pointer;
  transition: background-color .3s ease;
}

.card.is-selected {
  background: rgba(0, 0, 0, .2);
}

.card.is-picked {
  background: rgba(0, 0, 0, .5);
}

.value {
  font-family: impact;
  font-size: 75px;
  font-weight: 500;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.dollar-sign {
  font-size: 62px;
  position: relative;
  top: -5px;
}

.card.is-picked .value {
  opacity: 0;
}
