@value board-bg from "./Colors.css";
@value jeopardy-blue from "./Colors.css";

.container {
  align-items: stretch;
  background: jeopardy-blue;
  flex-grow: 1;
  display: flex;
}

.category {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 25%;
}

.title {
  background: #241744; 
  box-shadow: 0 10px 7px -7px rgba(0, 0, 0, .3);
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  color: white;
  font-size: 20px;
  font-weight: 700;
  height: 100px;
  line-height: 100px;
  text-transform: uppercase;
}
