.container {
  width: 100%;
  height: 100%;
}

.text-box {
  
}

.text-type {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  font-weight: 700;
}

.text {
  padding: 10px 0 30px;
  font-weight: 400;
  font-size: 16px;
}

textarea {
  width: 100%;
  padding: 0;
  margin: 0;
  background: none;
  background-color: transparent;
  font-size: 16px;
  font-family: 'Raleway';
  font-weight: 400;
  color: white;
  border: none;
  outline: none;
}

.difficulty-container {
  width: 100%;
  display: flex;
  flex-flow: row;
}

.difficulty-title {
  padding-bottom: 10px;
}

.difficulty-item {
  width: 20%;
  height: 100%;
  line-height: 30px;
  text-align: center;
}