.container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;  
  height: 100%;
  text-align: center;
}

.content {
  height: 200px;
}

.text {
  color: rgba(0, 0, 0, .6);
  font-size: 30px;
  margin: 30px 0 0 0;
  text-align: center;
  width: 100%;
}

.loading-spinner {
  display: inline-block;
  margin: 0;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border: 1.1em solid rgba(0, 0, 0, .4);
  border-left: 1.1em solid rgba(0, 0, 0, .7);
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}

.loading-spinner,
.loading-spinner:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

@-webkit-keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

