@value green, red from "./Colors.css";

.card {
  background: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  font-family: "Proxima Nova";
  height: 100%;
  position: relative;
  width: 100%;
}

.answer-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 0;
  text-align: center;
}

.answer {
  font-size: 52px;
  line-height: 1.5;
  height: 100%;
  margin: 0 auto;
  width: 92%;
}

.players-container {
  align-content: strech;
  background: #6037AF;
  border-top: 3px solid #472786;
  display: flex;  
  width: 100%;
}

.player {
  flex-grow: 1;
  padding: 16px 0;
  text-align: center;
}

.player:not(:last-of-type) {
  border-right: 3px solid #472786;
}

.player-name {
  color: white;
  margin: 0 0 12px 0;
  text-transform: uppercase;
}

.button-correct {
  composes: button--small from "./Button.css";
  background: green;
  margin-right: 15px;
}

.button-wrong {
  composes: button--small from "./Button.css";
  background: red;
}
