.container {
  width: 100%;
  background-color: grey;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input {
  padding: 5px;
  width: 70%;
}

.addUser {
  width: 20%;
  background-color: green;
  height: 100%;
}