.container {
  height: 60px;
  background-color: #5A8AA8;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  line-height: 60px;
  position: relative;
  text-align: center;
  width: 100%;
}

.container:hover {
  background-color: #83AAC3;
  transition: background-color .1s ease;
}

.container.is-player {
  background-color: #263345;
}

.username {
  font-size: 18px;
}

.phone-icon {
  height: 25px;
  line-height: 0;
  position: absolute;
  left: 16px;
  top: 16px;
  width: 25px;
}
